 
 main{
    background-color: rgb(126, 118, 118);
    margin: 10px 10px;
    font-family: sans-serif;
    font-weight: 300; 
    box-sizing: border-box; 
    color: white;
}
h2{
    display: flex;
    justify-content: center;
    text-shadow: -15px 3px 17px #000000;
}

#aboutme{ 
    background-color: rgb(95, 95, 95); 
    margin: 10px 10px; 
}

#skills{ 
    background-color: rgb(95, 95, 95); 
    margin: 10px 10px; 
}
a:hover{
    text-decoration: none;
    color: red;
    /* background: yellow; */
}
/* makes the nav bar horizontal and puts on the right of screen*/
header{
    display: flex;
    background-color: rgb(46, 46, 46); 
    color: white;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 1px #000000;
}  
/* figure{
    display:flex;
    border:2px solid white;
} */
/* makes the nav bar horizontal and puts on the right of screen*/
.menu {
    display: flex;  
    justify-content: end; 
    gap: 10px; 
}
 
 /* adds space between list */
li{
    margin: 5px;
    padding: 5px;
    list-style: none;
} 
/*sets up spaccing and wrapping of images*/
.project-img {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 20px;
}
 
 

footer{
    display: flex;
    justify-content: center;
    align-self: end;
}

img {
    max-width: 25%;
    max-height: auto;
}

/* when the webpage hits 640px the nav bar changes to columns */
 @media (max-width:640px){
    ul, header  {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
   
 }
 
 @media (max-width:640px){
 .projects{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    }
 }